.table {
    width: 100%;
    text-align: center;
}

.add-patient-button {
    float: right;
    background-color: rgb(108,179,64);
    color: white
}

.patient-text {
    font-size: 30px;
    font-weight: bold;
}

.table-padding {
    padding-top: 30px;
}

.table-div {
    overflow-y: auto;
    height: calc(100vh - 230px);
    border: 1px solid rgb(108,179,64);
}

.table-button {
    background-color: rgb(108,179,64);
    color: white;
}

.padding-left {
    padding-left: 10px
}
