.top-bar{
    height: 80px;
    background: linear-gradient(0.25turn, rgba(255,255,255,1),rgba(109,179,63, 1));
}

.container {
    height: inherit;    
}

.ul-padding {
    padding-left: 10px;
}

.foot {
    background-color: rgba(109,179,63, 1);
    position: fixed;
    bottom: 0;
    font-size: 12px;
    max-height: 70px;
}

.img-height {
    height: 50px;
}
